<h1>Listing questions</h1>

<!-- Latest questions created by the current_user, left at top -->
<!-- link to all questions created -->

<!-- Latest questions answered by current_user, left bottom -->
<!-- link to all questions answered -->

<!-- Questions to answer ordered by due date, right -->
<!-- link to all question to answer (maybe using pagination)-->

<!-- field to create a new Yes/No question or a button for a Multiple Choice one -->

<div class="large-5 columns left">
  <table>
    <thead>
      <tr>
        <th colspan="3">created question</th>
        <th>results</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.content %></td>
          <td></td>
      <% end %>
    </tbody>
  </table>
</div>

<div class="large-5 columns left">
  <table>
    <thead>
      <tr>
        <th colspan="3">answered question</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td></td>
      <% end %>
    </tbody>
  </table>
</div>

<div class="columns-5 large right">
  <table>
    <thead>
      <tr>
        <th colspan="3">questions to answer</th>
      </tr>
    </thead>

    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td></td>
      <% end %>
    </tbody>
  </table>
</div>


<br>

<%= link_to 'New Question', new_question_path %>
